### Printing  in python

In [2]:
print('Hello World!')

Hello World!

In [6]:
something = 'Hello' #this should print Hello

In [5]:
print(something)

Hello

### Comments

In [8]:
# This is a comment 
# A comment is a readable explanation for a code

### Printing multiple statements

In [9]:
print('Hello')
print('World')
print('!')

Hello
World
!

### Print multiple lines using a single print command

In [10]:
print('
Hello 
world
!
')

SyntaxError: EOL while scanning string literal (<ipython-input-10-6d7d6306976d>, line 1)

#### This gave us an error. To print multiple lines using a single print command, we use ''' '''

In [12]:
print(
'''Hello 
world
!'''
)

Hello
world
!

### Markdown

This is a markdown cell. It can be used to add text to the notebook.

a) Headings in markdown:


# Heading 1
## Heading 1.1
### Heading 1.2
#### Heading 1.3

b) Creating a table in markdown:

| my table | something |
|---------|----|


| This | is   |
|------|------|
|   a  | table|

c) We can add links in markdown:
https://www.python.org/

### Python variables

In [14]:
x = 5

In [17]:
x

5

In [13]:
#declaring a variable
x = 5
x

5

In [18]:
x = 1.1
y = 2
z = 3
print(x)
print(y)
print(z)

1
2
3

In [19]:
y = True

In [20]:
not y

False

Variables can store data of different types, and different types can do different things.

Python has the following data types built-in by default, in these categories:

1) Text Type:	str

2) Numeric Types:	int, float, complex

3) Boolean Type(True/False):	bool

4) Sequence Types:	list, tuple, range

5) Mapping Type:	dict

6) Set Types:	set, frozenset

In [40]:
x = 7   # int
y = 9.3  # float
z = 2j   # complex
a = "Hi" # str
b = True # bool
print(x)
print(y)
print(z)
print(a)

7
9.3
2j
Hi

In [27]:
a_list = ['a', 'b', 'c', 'a']

In [22]:
type(a_list)

list

In [28]:
len(a_list)

4

In [38]:
a_list[-1:-3]

[]

In [39]:
['a', 'c', 'b']

['a', 'c', 'b']

### How to check data type of a variable?

In [41]:
type(x)

int

In [42]:
type(y)

float

In [43]:
type(z)

complex

In [44]:
type(a)

str

In [45]:
type(b)

bool

### Arithmetic operations

Arithmetic operators are used to perform mathematical operations like addition, subtraction, multiplication, etc.

` +	Add two operands or unary plus	x + y`

` - Subtract right operand from the left or unary minus	x - y`

` *	Multiply two operands	x * y`

` /	Divide left operand by the right one (always results into float)	x / y`

` //	Floor division - division that results into whole number	x // y`

` %	Modulus - remainder of the division of left operand by the right	x % y (remainder of x/y)`

` **	Exponent - left operand raised to the power of right	x**y (x to the power y)`

In [46]:
x = 10
y = 5

In [47]:
x + y

15

In [55]:
f = "hi"
j = 'there'
k=5

In [56]:
f+j+k

TypeError: must be str, not int

In [50]:
f-j

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [57]:
x - y

5

In [58]:
x * y

50

In [62]:
type(x / y)

float

In [63]:
type(x // y)

int

In [64]:
x % y

0

In [65]:
x ** y

100000

## Comparison operators

Comparison operators are used to compare values. It returns either True or False according to the condition.

`>	Greater than - True if left operand is greater than the right	x > y`

`<	Less than - True if left operand is less than the right	x < y`

`==	Equal to - True if both operands are equal	x == y`

`!=	Not equal to - True if operands are not equal	x != y`

`>=	Greater than or equal to - True if left operand is greater than or equal to the right	x >= y`

`<=	Less than or equal to - True if left operand is less than or equal to the right	x <= y`

In [66]:
x = 10
y = 5

In [67]:
x > y

True

In [68]:
x < y

False

In [69]:
x == y

False

In [70]:
x1 = 10
y1 = 4
x1==y1

False

In [71]:
x1=y1

In [72]:
x1==y1

True

In [73]:
x != y

True

In [74]:
x >= y

True

In [75]:
x <= y

False

In [77]:
x2 = 'hi'
x3 = 'hi'
x2 == x3

True

## Logical operators

`and : True if both the operands are true	x and y`

`or : True if either of the operands is true	x or y`

`not : True if operand is false (complements the operand) not x`

In [78]:
x = True
y = False

In [79]:
x and y

False

In [80]:
x or y

True

In [81]:
not x

False

In [82]:
not y

True

# other

In [88]:
 y4 = ('z', 'd', '1')

In [87]:
y4[0]

'z'

In [94]:
a_list = ['a', 'b', 'c', 'a']

In [95]:
a_list[-1] = '21'

In [96]:
a_list

['a', 'b', 'c', '21']

In [97]:
y4[-1] = '31'

TypeError: 'tuple' object does not support item assignment

In [102]:
a_dict = {'Age': '21',
        'Hourly salary': 32,
         'tax rate': 3.2}

In [103]:
a_dict['Age']

'21'

In [104]:
# Take item 1 from list a 
# define key for item 1
# somehow add item 1 into a dict