# Data Types in Python

This notebook is aimed at shedding some light on the different data types in Python. This shall form a strong foundation for your programming and Data Science journey.

Data belongs to different categories. It can be numeric, text, true/false, complex numbers, date, time etc. Data should be stored correctly for us to be able to do the desired operations on the data. If the data is stored incorrectly, for example numerical data is stored as text data, we can not do numerical or arithmetic operations on the data because the methods and the operations for a data depend largely on the type of data (object) being referred to.

There are various data types in Python. Listed below are the most prominently used ones:
1. Numeric - This is further divided into 
    (a.) Integer
    (b.) Float
    (c.) Complex
    
2. String

3. Boolean

## Numeric Data Type

As the name suggests, Numeric data type consists of numbers. These numbers can be whole numbers, decimal numbers or complex numbers.

Whole numbers are stored in Integer (Int) type.

Decimal numbers are stored in Float (Float64) type.

Complex numbers are stored in Complex type.

You will find Integer and Float type being used most of the times.

You can check the data type of an object using the type() command.

In [1]:
#Let's look at some examples.
Integer = 7

In [2]:
type(Integer)
# type(variable_name)

int

In [3]:
b1 = 2.356
type(b1)

float

In [4]:
c1 = 3.908J
type(c1)

complex

In [5]:
1e6

1000000.0

In [6]:
# Your turn now. 
# Store 2, 1086M, 3.14567 into three different objects and check their data types.

a = 2
b = 1086*1e6
c = 3.14567

print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'float'>
<class 'float'>

In [7]:
b

1086000000.0

In [8]:
b2 = 1086000000

In [9]:
type(b2)

int

In [10]:
b == b2
#  is b equal to b2
# b = b2

True

In [11]:
b2

1086000000

In [12]:
type(5*6)

int

## String Data Type

String Data type usually is used to store text. The data to be stored in this data type is enclosed between single ('') or double ("") quotes.
Recall that you printed your name in the previous Notebook. That was string data type.
Let's look at an example.

In [31]:
# Printing your name

My_Name = "My name is Jupyter! 9000!! 10.0 1.41"
My_Name

'My name is Jupyter! 9000!! 10.0 1.41'

In [16]:
type(My_Name)

str

In [18]:
another_var = "John's name"

In [19]:
another_var

"John's name"

In [20]:
# Your turn to play around now.
#Save your name to an object and check its data type.

my_name = 'Ankush'
type(my_name)

str

Various functions can be performed using strings like searching within a string, conversion to lowercase/uppercase, count, length, splitting, replacing, trimming, partitioning etc.

In [21]:
# Let's check how many characters does your name contain.
#  len = length
len(my_name)

6

In [32]:
my_list = [my_name, another_var, My_Name]

In [25]:
len(my_list)

3

In [35]:
my_list[-1] == my_list[2]

True

In [36]:
len(my_list)

3

In [37]:
end_of_list = len(my_list)-1

In [ ]:
# upper
# is upper?
# lower
# is lower?

In [38]:
# Let's see if My_Name is all Caps or not. 
# isupper() returns True if all the letters are Capitals, False if atleast one letter in in lower case.

my_name.isupper()

#is my-name variable in uppercase?

False

In [39]:
# Let's convert My_Name to all caps.

my_name = my_name.upper()
my_name

'ANKUSH'

In [40]:
# Now the output of isupper() changes to True.
my_name.isupper()

True

In [41]:
# Your turn to try it now. 
# Write a sentence and store it into an object.

my_sentence = "let's check my name"

In [ ]:
my_new_sentence = 'let'#s'1.0 anything else

In [ ]:
my_new_sentence

In [ ]:
# Check the data type of the object you just created.
type(my_new_sentence)

In [43]:
# Check if it is all caps or not.

my_sentence.isupper()

False

In [45]:
# Challenge - Check if it is all lower case or not.

my_sentence.islower()

True

In [46]:
# Convert your object into all caps.

my_sentence.upper()

"LET'S CHECK MY NAME"

In [47]:
# Challenge - Convert your object into all lower case.
my_sentence.lower()

"let's check my name"

In [48]:
my_sentence.isupper()

False

## Boolean Data Type

The boolean data type has just two values, i.e., True or False.

In [51]:
# Let's look at examples.

x = True
y = False

In [52]:
type(x)

bool

In [53]:
type(y)

bool

In [54]:
# Your turn!
x and y

False

In [55]:
yes = True
no = False

In [56]:
yes or no

True

In [57]:
type(yes)

bool

In [58]:
# variable_check = Yes

## Data Type Conversions

As explained earlier, data should be stored in correct form so that it can be manipulated efficiently later.
Quite a lot of times, data is not stored correctly or it gets imported incorrectly.
In such cases, data needs to be converted to its correct type so that it can be optimally used in our analysis.
Thus, let's look at data type conversion exercises to get you comfortable with the process.

In [59]:
# Consider an object containing an integer.
string1 = 1

In [60]:
type(string1)

int

In [61]:
# I want to use the value 1 as a text value. So let's convert it.
#  convert string1 to string apply -- str(variable)
string1 = str(string1)

In [62]:
type(string1)

str

In [63]:
string1

'1'

In [ ]:
string1 = '1'

In [64]:
# Exercise for you. Store the number 123456 as string.

string2 = str(123456)

In [65]:
string2

'123456'

In [66]:
string1

'1'

In [ ]:
# Let's do the opposite now. Let's learn to convert string to float now.

In [ ]:
int1 = "500"
type(int1)

In [ ]:
int1

In [ ]:
int1 = int(int1)

In [ ]:
int1

In [ ]:
type(int1)

In [ ]:
# Your turn now.

Good job so far!
You can also try converting strings to boolean and vice versa.
You could also try conversions from integers to float and float to integer.

Python is an intuitive language, so by default it stores data into correct formats. 
But very often we come across data being stored incorrectly especially while importing.